{% extends "l2.html" %}
{% block title %} {{title}} {% endblock %}

{% block section %}
<div>
    {{ super() }}
    aaaaaaaaaaaa
    <div>
        <ul>
            {% for s in ret %}
                <li>{{s.songno}}.{{s.title}} ({{s.likecnt}}) - <strong>{{s.album.title}}</strong></li>
            {% else %}
                <li>There is no ret.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block outer_block %}
    <p>1111111111</p>
    {{ super() }}
    {% block inner_block %} BBBBBB {% endblock inner_block %}
{% endblock outer_block %}



