{% extends "base.html" %}


{% block main %}

<!--Section: Magazine v.1-->
<section id="myalbum" class="wow fadeIn">

    <!--Section heading-->
    <h2 class="h1 text-center my-5 font-weight-bold">My Favorite Songs</h2>

    <div id="result_comments"></div>

    <!--Grid row-->
    <div class="row text-left">

        <!--Grid column-->
        <div class="col-12">

            {% for s in songs %}
            <hr>
            <!--Small news-->
            <div class="row">
                <div class="col-md-2">
                    <h1 class="text-primary"></h1>
                </div>
                <div class="col-md-3">

                    <!--Image-->
                    <div class="view overlay rounded z-depth-1x text-center">
                        <a>
                            <img src="/static/img/album_img/1.jpg" class="img-fluid w-100"
                                alt="Minor sample post image">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>

                <!--Excerpt-->
                <div class="col-md-7">
                    <p class="dark-grey-text">
                        <strong>{{s.song.title}}</strong> - {{s.song.songartists | artist_names}}
                    </p>
                    <hr>
                    
                    <script id="comments_template_{{s.id}}" type="text/x-handlebars-template">
                        {% raw %}
                            {{#each comments}}
                                <div class="card">
                                    <div class="card-body p-1">
                                        {{content}}
                                        <small class="text-muted">{{dateformat writedate "M/D HH:mm"}}</small>
                                        <small class="text-muted float-right">{{writername}}</small>
                                    </div>
                                </div>
                            {{/each}}
                        {% endraw %}
                    </script>
                    <div id="comments_result_{{s.id}}"></div>
                    <button id="btn_open_{{s.id}}" onclick="openComment({{s.id}})" class="btn btn-sm btn-primary">Open Comment</button>
                </div>

            </div>

            {% else %}
                <div class="text-center text-info">담겨진 곡이 없습니다.</div>
            {% endfor %}
            <!--/Small news-->

        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--/Section: Magazine v.1-->

<script>
    function openComment(myalid) {
        console.log(">>>>>", myalid)
        send_ajax('/mycoms/' + myalid, 'GET', '', '', function (res) {
            console.log("res>>", res)
            if (!res || !res.length) return;

            hbs('comments_template_' + myalid, {comments: res}, 'comments_result_' + myalid);
        });

        $('#basicExampleModal').modal();
    }
</script>

<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"><strong><i class="fas fa-sign-in-alt"></i> Sign
                        In</strong></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Default form login -->
                <form class="text-center border border-light p-5">

                    <p class="h4 mb-4"><strong>Sign In</strong></p>

                    <!-- Email -->
                    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

                    <!-- Password -->
                    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4"
                        placeholder="Password">

                    <div class="d-flex justify-content-around">
                        <div>
                            <!-- Remember me -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                            </div>
                        </div>
                        <div>
                            <!-- Forgot password -->
                            <a href="">Forgot password?</a>
                        </div>
                    </div>

                    <!-- Sign in button -->
                    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

                    <!-- Register -->
                    <p>Not a member?
                        <a href="">Register</a>
                    </p>
                </form>
                <!-- Default form login -->
            </div>
            <!-- <div class="modal-footer">
        </div> -->
        </div>
    </div>
</div>
{% endblock %}